
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
<div class="container-fluid">

  <h1> Pizza Store</h1>
  <table>
  <tr>
  <h2>Welcome to online Pizza Store</h2>
  <button (click)="openForm()">login</button>
  <div class="form-popup" id="myForm" [ngStyle]="{'display':display}">
    <form class="form-container">
    <label><b>Username</b></label>
    <input type="text" placeholder="username" name="username" [(ngModel)]="data.username" required>
    <label><b>password</b></label>
    <input type="password" placeholder="password" name="password" [(ngModel)]="data.password" required >
    <button type="submit" class="btn" (click)="formSubmit()">Login</button>
    <button type="button" class="btn cancel" (click)="closeForm()">Close</button>
    </form>
  </div>
  
  </tr> 
  </table> 
  
  
</div>