<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
<div class="container-fluid"><h1>Your Cart</h1></div>
<p>{{num}} added products</p>
<table class="table">
   
    <tr *ngFor="let x of pizza">
        <table class = "table">
            <td><img src="/assets/{{x.picture}}"  width="100" height="100"></td>
        <th>{{x.pizzaName}}</th>
        <tr><b>pizzaType:</b>{{x.pizzaType}}</tr>
        <tr><b>Amount:</b> {{x.pizzaAmount|currency:'INR'}}</tr>       
        <tr><button>Place Order</button></tr>
        </table>
        <hr>
    </tr>
</table>