<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
<div class="container-fluid">

  <h1>{{arr.pizzaName}} Information</h1> 
</div>
<div>
    <table>
        <tr><img src="/assets/{{arr.picture}}"  width="100" height="100"></tr>
        <tr>{{arr.pizzaId}}</tr>
        <tr>{{arr.pizzaName}}</tr>
        <tr>{{arr.pizzaAmount|currency:'INR'}}</tr>
        <tr><button>buy</button></tr>
    </table>
</div>